import React from 'react'
import { StyleSheet, Text, View } from 'react-native'

type Props = {}

const {{FILE}} = ({}:Props) => {
  return (
    <View>
        <Text>Hola {{FILE}}</Text>
    </View>
  )
}

const styles = StyleSheet.create({
	container: {}
});

export default {{FILE}}